<i>Copyright (c) Recommenders contributors.</i>

<i>Licensed under the MIT License.</i>

# SAR Single Node on MovieLens (Python, CPU)

In this example, we will walk through each step of the Simple Algorithm for Recommendation (SAR) algorithm using a Python single-node implementation.

SAR is a fast, scalable, adaptive algorithm for personalized recommendations based on user transaction history. It is powered by understanding the similarity between items, and recommending similar items to those a user has an existing affinity for.

## 1 SAR algorithm

The following figure presents a high-level architecture of SAR. 

At a very high level, two intermediate matrices are created and used to generate a set of recommendation scores:

- An item similarity matrix $S$ estimates item-item relationships.
- An affinity matrix $A$ estimates user-item relationships.

Recommendation scores are then created by computing the matrix multiplication $A\times S$.

Optional steps (e.g. "time decay" and "remove seen items") are described in the details below.

<img src="https://recodatasets.z20.web.core.windows.net/images/sar_schema.svg?sanitize=true">

### 1.1 Compute item co-occurrence and item similarity

SAR defines similarity based on item-to-item co-occurrence data. Co-occurrence is defined as the number of times two items appear together for a given user. We can represent the co-occurrence of all items as a $m\times m$ matrix $C$, where $c_{i,j}$ is the number of times item $i$ occurred with item $j$, and $m$ is the total number of items.

The co-occurence matric $C$ has the following properties:

- It is symmetric, so $c_{i,j} = c_{j,i}$
- It is nonnegative: $c_{i,j} \geq 0$
- The occurrences are at least as large as the co-occurrences. I.e., the largest element for each row (and column) is on the main diagonal: $\forall(i,j) C_{i,i},C_{j,j} \geq C_{i,j}$.

Once we have a co-occurrence matrix, an item similarity matrix $S$ can be obtained by rescaling the co-occurrences according to a given metric. Options for the metric include `Jaccard`, `lift`, and `counts` (meaning no rescaling).


If $c_{ii}$ and $c_{jj}$ are the $i$th and $j$th diagonal elements of $C$, the rescaling options are:

- `Jaccard`: $s_{ij}=\frac{c_{ij}}{(c_{ii}+c_{jj}-c_{ij})}$
- `lift`: $s_{ij}=\frac{c_{ij}}{(c_{ii} \times c_{jj})}$
- `counts`: $s_{ij}=c_{ij}$

In general, using `counts` as a similarity metric favours predictability, meaning that the most popular items will be recommended most of the time. `lift` by contrast favours discoverability/serendipity: an item that is less popular overall but highly favoured by a small subset of users is more likely to be recommended. `Jaccard` is a compromise between the two.


### 1.2 Compute user affinity scores

The affinity matrix in SAR captures the strength of the relationship between each individual user and the items that user has already interacted with. SAR incorporates two factors that can impact users' affinities: 

- It can consider information about the **type** of user-item interaction through differential weighting of different events (e.g. it may weigh events in which a user rated a particular item more heavily than events in which a user viewed the item).
- It can consider information about **when** a user-item event occurred (e.g. it may discount the value of events that take place in the distant past.

Formalizing these factors produces us an expression for user-item affinity:

$$a_{ij}=\sum_k w_k \left(\frac{1}{2}\right)^{\frac{t_0-t_k}{T}} $$

where the affinity $a_{ij}$ for user $i$ and item $j$ is the weighted sum of all $k$ events involving user $i$ and item $j$. $w_k$ represents the weight of a particular event, and the power of 2 term reflects the temporally-discounted event. The $(\frac{1}{2})^n$ scaling factor causes the parameter $T$ to serve as a half-life: events $T$ units before $t_0$ will be given half the weight as those taking place at $t_0$.

Repeating this computation for all $n$ users and $m$ items results in an $n\times m$ matrix $A$. Simplifications of the above expression can be obtained by setting all the weights equal to 1 (effectively ignoring event types), or by setting the half-life parameter $T$ to infinity (ignoring transaction times).

### 1.3 Remove seen item

Optionally we remove items which have already been seen in the training set, i.e. don't recommend items which have been previously bought by the user again.

### 1.4 Top-k item calculation

The personalized recommendations for a set of users can then be obtained by multiplying the affinity matrix ($A$) by the similarity matrix ($S$). The result is a recommendation score matrix, where each row corresponds to a user, each column corresponds to an item, and each entry corresponds to a user / item pair. Higher scores correspond to more strongly recommended items.

It is worth noting that the complexity of recommending operation depends on the data size. SAR algorithm itself has $O(n^3)$ complexity. Therefore the single-node implementation is not supposed to handle large dataset in a scalable manner. Whenever one uses the algorithm, it is recommended to run with sufficiently large memory.

## 2 SAR single-node implementation

The SAR implementation illustrated in this notebook was developed in Python, primarily with Python packages like `numpy`, `pandas`, and `scipy` which are commonly used in most of the data analytics / machine learning tasks. Details of the implementation can be found in [Recommenders/recommenders/models/sar/sar_singlenode.py](../../recommenders/models/sar/sar_singlenode.py).

## 3 SAR single-node based movie recommender

In [259]:
import sys
import logging
import scipy
import numpy as np
import pandas as pd
import dataset_loader

# from recommenders.datasets import movielens
from recommenders.datasets.python_splitters import python_stratified_split
from recommenders.evaluation.python_evaluation import map_at_k, ndcg_at_k, precision_at_k, recall_at_k, mae, rmse, novelty, historical_item_novelty, user_item_serendipity, user_serendipity, serendipity, catalog_coverage, distributional_coverage
from recommenders.models.sar import SAR

print(f"System version: {sys.version}")
print(f"Pandas version: {pd.__version__}")
print(f"NumPy version: {np.__version__}")
print(f"SciPy version: {scipy.__version__}")

System version: 3.9.21 (main, Dec 11 2024, 16:24:11)
[GCC 11.2.0]
Pandas version: 2.2.3
NumPy version: 1.26.4
SciPy version: 1.13.1

In [260]:
# Top k items to recommend
TOP_K = 10

In [261]:
dataset = 'movielens'
want_col=["userID", "itemID", "rating", "timestamp", 'title']
num_rows = 100000
ratio = 0.75
seed = 42

params = {
    "dataset": dataset,
    "want_col": want_col,
    "num_rows": num_rows,
    "ratio": ratio,
    "seed": seed,
}

In [262]:
# set log level to INFO
logging.basicConfig(
    level=logging.DEBUG,
    format="%(asctime)s %(levelname)-8s %(message)s",
    datefmt="%Y-%m-%d %H:%M:%S",
)

### 3.1 Load Data

SAR is intended to be used on interactions with the following schema:
`<User ID>, <Item ID>, <Time>`. 

Each row represents a single interaction between a user and an item. These interactions might be different types of events on an e-commerce website, such as a user clicking to view an item, adding it to a shopping basket, following a recommendation link, and so on. 

The MovieLens dataset is well formatted interactions of Users providing Ratings to Movies (movie ratings are used as the event weight) - we will use it for the rest of the example.

In [ ]:
data = dataset_loader.loader(dataset, want_col, num_rows)
# print(data.shape)
# print(data['userID'].nunique())

# Convert the float precision to 32-bit in order to reduce memory consumption
# data["rating"] = data["rating"].astype(np.float32)

data.head()

(100000, 5)
702

,userID,itemID,rating,timestamp,title
0,1,2,3.5,2005-04-02 23:53:47,Jumanji (1995)
1,1,29,3.5,2005-04-02 23:31:16,"City of Lost Children, The (Cité des enfants p..."
2,1,32,3.5,2005-04-02 23:33:39,Twelve Monkeys (a.k.a. 12 Monkeys) (1995)
3,1,47,3.5,2005-04-02 23:32:07,Seven (a.k.a. Se7en) (1995)
4,1,50,3.5,2005-04-02 23:29:40,"Usual Suspects, The (1995)"

### 3.2 Split the data using the python random splitter provided in utilities:

We split the full dataset into a `train` and `test` dataset to evaluate performance of the algorithm against a held-out set not seen during training. Because SAR generates recommendations based on user preferences, all users that are in the test set must also exist in the training set. For this case, we can use the provided `python_stratified_split` function which holds out a percentage (in this case 25%) of items from each user, but ensures all users are in both `train` and `test` datasets. Other options are available in the `dataset.python_splitters` module which provide more control over how the split occurs.

In [264]:
header = {
    "col_user": "userID",
    "col_item": "itemID",
    "col_rating": "rating",
    "col_timestamp": "timestamp",
    "col_prediction": "prediction",
}

In [265]:
train, test = python_stratified_split(
    data, ratio=ratio, col_user=header["col_user"], col_item=header["col_item"], seed=seed
)

print(train.duplicated().any())

train['timestamp'] = pd.to_datetime(train['timestamp'])
train['timestamp'] = train['timestamp'].astype('int64') // 10**9

False

In [266]:
test.head()

,userID,itemID,rating,timestamp,title
86,1,2683,3.5,2004-09-10 03:07:30,Austin Powers: The Spy Who Shagged Me (1999)
2,1,32,3.5,2005-04-02 23:33:39,Twelve Monkeys (a.k.a. 12 Monkeys) (1995)
107,1,3489,4.0,2005-04-02 23:53:44,Hook (1991)
92,1,2872,4.0,2005-04-02 23:48:17,Excalibur (1981)
157,1,7046,4.0,2005-04-02 23:52:14,"Witches of Eastwick, The (1987)"

In [267]:
train.head()

,userID,itemID,rating,timestamp,title
72,1,2140,4.0,1112485705,"Dark Crystal, The (1982)"
128,1,4915,3.0,1112486076,"Beastmaster, The (1982)"
171,1,8636,4.5,1112485493,Spider-Man 2 (2004)
10,1,293,4.0,1112484703,Léon: The Professional (a.k.a. The Professiona...
98,1,3000,3.5,1112484569,Princess Mononoke (Mononoke-hime) (1997)

In this case, for the illustration purpose, the following parameter values are used:

|Parameter|Value|Description|
|---------|---------|-------------|
|`similarity_type`|`jaccard`|Method used to calculate item similarity.|
|`time_decay_coefficient`|30|Period in days (term of $T$ shown in the formula of Section 1.2)|
|`time_now`|`None`|Time decay reference.|
|`timedecay_formula`|`True`|Whether time decay formula is used.|

In [268]:
print(header)
model = SAR(
    similarity_type="jaccard", 
    time_decay_coefficient=30, 
    time_now=None, 
    timedecay_formula=True, 
    **header
)

{'col_user': 'userID', 'col_item': 'itemID', 'col_rating': 'rating', 'col_timestamp': 'timestamp', 'col_prediction': 'prediction'}

In [269]:
model.fit(train)

2025-02-23 14:30:54 INFO     Collecting user affinity matrix
2025-02-23 14:30:54 INFO     Calculating time-decayed affinities
2025-02-23 14:30:54 INFO     Creating index columns
2025-02-23 14:30:54 INFO     Building user affinity sparse matrix
2025-02-23 14:30:54 INFO     Calculating item co-occurrence
2025-02-23 14:30:54 INFO     Calculating item similarity
2025-02-23 14:30:54 INFO     Using jaccard based similarity
2025-02-23 14:30:56 INFO     Done training

In [270]:
top_k = model.recommend_k_items(test, top_k=TOP_K, remove_seen=True)

2025-02-23 14:30:56 INFO     Calculating recommendation scores
2025-02-23 14:30:56 INFO     Removing seen items

In [271]:
top_k.head()

   userID  itemID    prediction
0       1    1291  1.171518e-35
1       1    1214  1.156511e-35
2       1    6365  1.125383e-35
3       1    2716  1.095796e-35
4       1    2916  1.079399e-35

In [272]:
top = model.recommend_k_items(test, top_k=1, remove_seen=True)

2025-02-23 14:30:56 INFO     Calculating recommendation scores
2025-02-23 14:30:56 INFO     Removing seen items

In [273]:
top.head()

   userID  itemID    prediction
0       1    1291  1.171518e-35
1       2    1240  5.493154e-52
2       3    2916  7.752472e-55
3       4     457  1.172605e-67
4       5     377  4.866722e-66

The final output from the `recommend_k_items` method generates recommendation scores for each user-item pair, which are shown as follows.

In [274]:
top_k_with_titles = top_k.join(
    data[["itemID", "title"]].drop_duplicates().set_index("itemID"),
    on="itemID",
    how="inner",
).sort_values(by=["userID", "prediction"], ascending=False)

top_k_with_titles.head(10)

      userID  itemID    prediction                                      title
7010     702    1036  1.408741e-37                            Die Hard (1988)
7011     702    1291  1.325145e-37  Indiana Jones and the Last Crusade (1989)
7012     702    1246  1.282644e-37                  Dead Poets Society (1989)
7013     702    1090  1.278050e-37                             Platoon (1986)
7014     702     780  1.247338e-37       Independence Day (a.k.a. ID4) (1996)
7015     702    1270  1.246858e-37                  Back to the Future (1985)
7016     702    1208  1.244437e-37                      Apocalypse Now (1979)
7017     702    1387  1.237908e-37                                Jaws (1975)
7018     702    1580  1.233050e-37           Men in Black (a.k.a. MIB) (1997)
7019     702    2174  1.232310e-37                         Beetlejuice (1988)

In [275]:
top_with_titles = top.join(
    data[["itemID", "title"]].drop_duplicates().set_index("itemID"),
    on="itemID",
    how="inner",
).sort_values(by=["userID", "prediction"], ascending=False)

top_with_titles.head(10)

     userID  itemID    prediction                   title
701     702    1036  1.408741e-37         Die Hard (1988)
700     701    5349  4.978604e-32       Spider-Man (2002)
699     700    1240  1.919869e-19  Terminator, The (1984)
698     699    2000  5.880319e-51    Lethal Weapon (1987)
697     698     377  1.503236e-67            Speed (1994)
696     697    1036  3.588035e-22         Die Hard (1988)
695     696    1036  3.262072e-46         Die Hard (1988)
694     695    2571  1.438431e-01      Matrix, The (1999)
693     694    3033  6.666759e-14       Spaceballs (1987)
692     693    4226  4.908092e-15          Memento (2000)

### 3.3 Evaluate the results

It should be known that the recommendation scores generated by multiplying the item similarity matrix $S$ and the user affinity matrix $A$ **DOES NOT** have the same scale with the original explicit ratings in the movielens dataset. That is to say, SAR algorithm is meant for the task of *recommending relevent items to users* rather than *predicting explicit ratings for user-item pairs*. 

To this end, ranking metrics like precision@k, recall@k, etc., are more applicable to evaluate SAR algorithm. The following illustrates how to evaluate SAR model by using the evaluation functions provided in Recommenders library.

In [276]:
# all ranking metrics have the same arguments
args = [test, top_k]
kwargs = dict(
    col_user="userID",
    col_item="itemID",
    col_rating="rating",
    col_prediction="prediction",
    relevancy_method="top_k",
    k=TOP_K,
)

eval_map = map_at_k(*args, **kwargs)
eval_ndcg_at_k = ndcg_at_k(*args, **kwargs)
eval_precision_at_k = precision_at_k(*args, **kwargs)
eval_recall_at_k = recall_at_k(*args, **kwargs)

In [277]:
args1 = [test, top]
kwargs1 = dict(
    col_user="userID",
    col_item="itemID",
    col_rating="rating",
    col_prediction="prediction",
    relevancy_method="top_k",
    k=1,
)
eval_ndcg = ndcg_at_k(*args1, **kwargs1)
eval_precision = precision_at_k(*args1, **kwargs1)
eval_recall = recall_at_k(*args1, **kwargs1)

In [278]:
eval_mae = mae(test, top_k)
eval_rmse = rmse(test, top_k)

In [279]:
eval_novelty = novelty(train, top)
eval_historical_item_novelty = historical_item_novelty(train, top)
eval_user_item_serendipity = user_item_serendipity(train, top)
eval_user_serendipity = user_serendipity(train, top)
eval_serendipity = serendipity(train, top)
eval_catalog_coverage = catalog_coverage(train, top)
eval_distributional_coverage = distributional_coverage(train, top)

/home/rs/anaconda3/envs/recsys25/lib/python3.9/site-packages/recommenders/evaluation/python_evaluation.py:1435: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  avg_novelty = reco_item_novelty.agg({"product": "sum"})[0] / n_recommendations
/home/rs/anaconda3/envs/recsys25/lib/python3.9/site-packages/recommenders/evaluation/python_evaluation.py:1511: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  reco_train_user_item_sim[col_sim].fillna(0, inplace=True)
/home/rs/anaconda3/envs/recsys25/lib/python3.9/site-packages/recommenders/evaluation/python_evaluation.py:1511: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  reco_train_user_item_sim[col_sim].fillna(0, inplace=True)
/home/rs/anaconda3/envs/recsys25/lib/python3.9/site-packages/recommenders/evaluation/python_evaluation.py:1511: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  reco_train_user_item_sim[col_sim].fillna(0, inplace=True)
/home/rs/anaconda3/envs/recsys25/lib/python3.9/site-packages/recommenders/evaluation/python_evaluation.py:1639: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  avg_serendipity = df_user_serendipity.agg({"user_serendipity": "mean"})[0]
/home/rs/anaconda3/envs/recsys25/lib/python3.9/site-packages/recommenders/evaluation/python_evaluation.py:1714: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  d_coverage = -df_entropy.agg({"entropy(i)": "sum"})[0]

In [280]:
print("Precision:\t%f" % eval_precision,
      "Precision@K:\t%f" % eval_precision_at_k,
      "Recall:\t%f" % eval_recall,
      "Recall@K:\t%f" % eval_recall_at_k,
      "MAE:\t%f" % eval_mae,
      "RMSE:\t%f" % eval_rmse,
      "NDCG:\t%f" % eval_ndcg,
      "Novelty:\t%f" % eval_novelty,
      "Serendipity:\t%f" % eval_serendipity,
      "Catalog coverage:\t%f" % eval_catalog_coverage,
      "Distributional coverage:\t%f" % eval_distributional_coverage,
      sep='\n')

Precision:	0.283476
Precision@K:	0.200000
Recall:	0.017712
Recall@K:	0.109309
MAE:	4.004534
RMSE:	4.824993
NDCG:	0.283476
Novelty:	9.944550
Serendipity:	0.744155
Catalog coverage:	0.024731
Distributional coverage:	6.298627

In [281]:
eval_historical_item_novelty

      itemID  item_novelty
0          1      8.726882
1          2      9.909085
2          3     10.522062
3          4     12.735056
4          5     10.522062
...      ...           ...
7516  118696     15.194488
7517  118997     16.194488
7518  119141     16.194488
7519  125916     16.194488
7520  128594     16.194488

[7521 rows x 2 columns]

In [282]:
eval_user_item_serendipity

     userID  itemID  user_item_serendipity
0         1    1291               0.760144
1         2    1240               0.777992
2         3    2916               0.728432
3         4     457               0.626439
4         5     377               0.687352
..      ...     ...                    ...
697     698     377               0.599196
698     699    2000               0.776643
699     700    1240               0.691250
700     701    5349               0.733092
701     702    1036               0.759807

[702 rows x 3 columns]

In [283]:
eval_user_serendipity

     userID  user_serendipity
0         1          0.760144
1         2          0.777992
2         3          0.728432
3         4          0.626439
4         5          0.687352
..      ...               ...
697     698          0.599196
698     699          0.776643
699     700          0.691250
700     701          0.733092
701     702          0.759807

[702 rows x 2 columns]

## References
Note SAR is a combinational algorithm that implements different industry heuristics. The followings are references that may be helpful in understanding the SAR logic and implementation. 

1. Badrul Sarwar, *et al*, "Item-based collaborative filtering recommendation algorithms", WWW, 2001.
2. Scipy (sparse matrix), url: https://docs.scipy.org/doc/scipy/reference/sparse.html
3. Asela Gunawardana and Guy Shani, "A survey of accuracy evaluation metrics of recommendation tasks", The Journal of Machine Learning Research, vol. 10, pp 2935-2962, 2009.

# mlflow implementation

remember to run this: mlflow server --host 127.0.0.1 --port 8080

In [284]:
#metrics
metrics = {
        "precision_at_K": eval_precision,
        "recall_at_K": eval_recall,
        "NDCG_at_K": eval_ndcg,
        "RMSE": eval_rmse,
        "MAE": eval_mae,
        "novelty": eval_novelty,
        "serendipity": eval_serendipity,
        "catalog_coverage": eval_catalog_coverage,
        "distributional_coverage": eval_distributional_coverage
    }

In [285]:
import mlflow
from mlflow.models import infer_signature


# Set our tracking server uri for logging
mlflow.set_tracking_uri(uri="http://127.0.0.1:8080")

# Create a new MLflow Experiment
mlflow.set_experiment("MLflow Colaborative Filtering")

# Start an MLflow run
with mlflow.start_run():
    # Log the hyperparameters
    mlflow.log_params(params)

    # Log the loss metric
    mlflow.log_metrics(metrics)

    # Set a tag that we can use to remind ourselves what this run was for
    mlflow.set_tag("Metrics Info", "CF model for movielens dataset")

    # Infer the model signature
    signature = infer_signature(train, model.fit(train))

    # Log the model
    model_info = mlflow.sklearn.log_model(
        sk_model=model,
        artifact_path="CF-model",
        signature=signature,
        input_example=train,
        registered_model_name="CF-model test",
    )

2025-02-23 14:31:10 DEBUG    Resetting dropped connection: 127.0.0.1
2025-02-23 14:31:10 DEBUG    http://127.0.0.1:8080 "GET /api/2.0/mlflow/experiments/get-by-name?experiment_name=MLflow+Colaborative+Filtering HTTP/1.1" 200 285
2025-02-23 14:31:10 DEBUG    Resetting dropped connection: 127.0.0.1
2025-02-23 14:31:10 DEBUG    http://127.0.0.1:8080 "POST /api/2.0/mlflow/runs/create HTTP/1.1" 200 937
2025-02-23 14:31:10 DEBUG    Resetting dropped connection: 127.0.0.1
2025-02-23 14:31:10 DEBUG    http://127.0.0.1:8080 "POST /api/2.0/mlflow/runs/log-batch HTTP/1.1" 200 2
2025-02-23 14:31:10 DEBUG    Resetting dropped connection: 127.0.0.1
2025-02-23 14:31:10 DEBUG    http://127.0.0.1:8080 "POST /api/2.0/mlflow/runs/log-batch HTTP/1.1" 200 2
2025-02-23 14:31:10 DEBUG    Resetting dropped connection: 127.0.0.1
2025-02-23 14:31:10 DEBUG    http://127.0.0.1:8080 "POST /api/2.0/mlflow/runs/set-tag HTTP/1.1" 200 2
2025-02-23 14:31:10 INFO     Collecting user affinity matrix
2025-02-23 14:31:10 INFO     Calculating time-decayed affinities
2025-02-23 14:31:10 INFO     Creating index columns
2025-02-23 14:31:10 INFO     Building user affinity sparse matrix
2025-02-23 14:31:10 INFO     Calculating item co-occurrence
2025-02-23 14:31:10 INFO     Calculating item similarity
2025-02-23 14:31:10 INFO     Using jaccard based similarity
2025-02-23 14:31:12 INFO     Done training
/home/rs/anaconda3/envs/recsys25/lib/python3.9/site-packages/mlflow/types/utils.py:452: UserWarning: Hint: Inferred schema contains integer column(s). Integer columns in Python cannot represent missing values. If your input data contains missing values at inference time, it will be encoded as floats and will cause a schema enforcement error. The best way to avoid this problem is to infer the model schema based on a realistic data sample (training dataset) that includes missing values. Alternatively, you can declare integer columns as doubles (float64) whenever these columns may have missing values. See `Handling Integers With Missing Values <https://www.mlflow.org/docs/latest/models.html#handling-integers-with-missing-values>`_ for more details.
  warnings.warn(
2025-02-23 14:31:16 INFO     Calculating recommendation scores
2025-02-23 14:31:16 DEBUG    Resetting dropped connection: 127.0.0.1
2025-02-23 14:31:16 DEBUG    http://127.0.0.1:8080 "GET /api/2.0/mlflow/runs/get?run_uuid=54cbe81eb38d4335a62cec7200cfc1e1&run_id=54cbe81eb38d4335a62cec7200cfc1e1 HTTP/1.1" 200 2871
2025-02-23 14:31:16 DEBUG    Resetting dropped connection: 127.0.0.1
2025-02-23 14:31:16 DEBUG    http://127.0.0.1:8080 "PUT /api/2.0/mlflow-artifacts/artifacts/487138308526805908/54cbe81eb38d4335a62cec7200cfc1e1/artifacts/CF-model/python_env.yaml HTTP/1.1" 200 2
2025-02-23 14:31:16 DEBUG    Resetting dropped connection: 127.0.0.1
2025-02-23 14:31:18 DEBUG    http://127.0.0.1:8080 "PUT /api/2.0/mlflow-artifacts/artifacts/487138308526805908/54cbe81eb38d4335a62cec7200cfc1e1/artifacts/CF-model/model.pkl HTTP/1.1" 200 2
2025-02-23 14:31:18 DEBUG    Resetting dropped connection: 127.0.0.1
2025-02-23 14:31:18 DEBUG    http://127.0.0.1:8080 "PUT /api/2.0/mlflow-artifacts/artifacts/487138308526805908/54cbe81eb38d4335a62cec7200cfc1e1/artifacts/CF-model/requirements.txt HTTP/1.1" 200 2
2025-02-23 14:31:18 DEBUG    Resetting dropped connection: 127.0.0.1
2025-02-23 14:31:18 DEBUG    http://127.0.0.1:8080 "PUT /api/2.0/mlflow-artifacts/artifacts/487138308526805908/54cbe81eb38d4335a62cec7200cfc1e1/artifacts/CF-model/conda.yaml HTTP/1.1" 200 2
2025-02-23 14:31:18 DEBUG    Resetting dropped connection: 127.0.0.1
2025-02-23 14:31:18 DEBUG    http://127.0.0.1:8080 "PUT /api/2.0/mlflow-artifacts/artifacts/487138308526805908/54cbe81eb38d4335a62cec7200cfc1e1/artifacts/CF-model/serving_input_example.json HTTP/1.1" 200 2
2025-02-23 14:31:18 DEBUG    Resetting dropped connection: 127.0.0.1
2025-02-23 14:31:18 DEBUG    http://127.0.0.1:8080 "PUT /api/2.0/mlflow-artifacts/artifacts/487138308526805908/54cbe81eb38d4335a62cec7200cfc1e1/artifacts/CF-model/input_example.json HTTP/1.1" 200 2
2025-02-23 14:31:18 DEBUG    Resetting dropped connection: 127.0.0.1
2025-02-23 14:31:18 DEBUG    http://127.0.0.1:8080 "PUT /api/2.0/mlflow-artifacts/artifacts/487138308526805908/54cbe81eb38d4335a62cec7200cfc1e1/artifacts/CF-model/MLmodel HTTP/1.1" 200 2
2025-02-23 14:31:18 DEBUG    Resetting dropped connection: 127.0.0.1
2025-02-23 14:31:18 DEBUG    http://127.0.0.1:8080 "POST /api/2.0/mlflow/runs/log-model HTTP/1.1" 200 2
2025-02-23 14:31:18 DEBUG    Resetting dropped connection: 127.0.0.1
2025-02-23 14:31:18 DEBUG    http://127.0.0.1:8080 "POST /api/2.0/mlflow/registered-models/create HTTP/1.1" 200 145
Successfully registered model 'CF-model test'.
2025-02-23 14:31:18 DEBUG    Resetting dropped connection: 127.0.0.1
2025-02-23 14:31:18 DEBUG    http://127.0.0.1:8080 "GET /api/2.0/mlflow/runs/get?run_uuid=54cbe81eb38d4335a62cec7200cfc1e1&run_id=54cbe81eb38d4335a62cec7200cfc1e1 HTTP/1.1" 200 3536
2025-02-23 14:31:18 DEBUG    Resetting dropped connection: 127.0.0.1
2025-02-23 14:31:18 DEBUG    http://127.0.0.1:8080 "POST /api/2.0/mlflow/model-versions/create HTTP/1.1" 200 413
2025/02/23 14:31:18 INFO mlflow.store.model_registry.abstract_store: Waiting up to 300 seconds for model version to finish creation. Model name: CF-model test, version 1
Created version '1' of model 'CF-model test'.
2025-02-23 14:31:19 DEBUG    Resetting dropped connection: 127.0.0.1
2025-02-23 14:31:19 DEBUG    http://127.0.0.1:8080 "GET /api/2.0/mlflow/runs/get?run_uuid=54cbe81eb38d4335a62cec7200cfc1e1&run_id=54cbe81eb38d4335a62cec7200cfc1e1 HTTP/1.1" 200 3536
2025-02-23 14:31:19 DEBUG    Resetting dropped connection: 127.0.0.1
2025-02-23 14:31:19 DEBUG    http://127.0.0.1:8080 "POST /api/2.0/mlflow/runs/update HTTP/1.1" 200 451

🏃 View run righteous-bear-15 at: http://127.0.0.1:8080/#/experiments/487138308526805908/runs/54cbe81eb38d4335a62cec7200cfc1e1
🧪 View experiment at: http://127.0.0.1:8080/#/experiments/487138308526805908